---
---

// Colors
$primary: #2f2f41;
$primary-dark: #a01b16;
$secondary: #ff6600;
$black: #2f2f41;
$white: #ffffff;
$white-offset: #F0F0F0;
$steel: #5c5a5a;

// Links
$link-color: $primary;
$link-decoration: underline;
$link-hover-color: lighten($primary, 10%);
$link-hover-decoration: underline;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$font-family-base: "Poppins", sans-serif, -apple-system;
$font-family-heading: "Poppins", sans-serif, -apple-system;

// Footer
$footer-background-color: $primary;
$footer-text-color: $white;
$sub-footer-background-color: darken($primary, 10%);
$sub-footer-text-color: $white;

// Bootstrap
@import "bootstrap-variables";
@import "bootstrap/bootstrap-reboot";
@import "bootstrap/bootstrap-grid";
// @import 'bootstrap/bootstrap'; // Uncomment this line to import the entire Bootstrap library

// Libraries
@import "libraries/hamburgers/hamburgers";

// Components
@import "components/type";
@import "components/page";
@import "components/header";
@import "components/footer";
@import "components/sub-footer";
@import "components/logo";
@import "components/main-menu";
@import "components/main-menu-mobile";
@import "components/hamburger";
@import "components/buttons";
@import "components/call";
@import "components/title";
@import "components/content";
@import "components/intro";
@import "components/intro-image";
@import "components/strip";
@import "components/feature";
@import "components/social";
// @import "components/fonts"; // Uncomment this line to self host font

// Pages
@import "pages/page-home";
@import "pages/page-teams";
@import "pages/page-service";

body {
  font-size: 16px;
  line-height: 1.2;
  font-family: $font-family-base;
  @include media-breakpoint-up(md) {
    font-size: 16px;
    line-height: 1.3;
  }
}

.gallery-item {
    position: relative;
    width: 100%;
    padding-top: 100%; /* This makes the item a square by setting its height equal to its width */
    overflow: hidden;
}

.gallery-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* This ensures the image covers the entire square area */
    transition: opacity 0.3s ease;
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.gallery-item:hover .gallery-image {
    opacity: 0.7;
}

.gallery-item:hover .caption {
    opacity: 1;
}

.image-popup {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Align caption below the image */
}

.image-popup .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.image-popup .close:hover,
.image-popup .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.image-popup .popup-content {
    max-width: 90%;
    max-height: 80%;
}

#popupCaption {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    left: 10px;   /* Adjust as needed */
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 14px;
}

.row.g-3 {
    margin-right: -1px; /* Reduce or remove the negative margin of the row */
    margin-left: -1px;  /* Adjust these values as needed */
}

.g-3 .col-12, .g-3 .col-sm-6, .g-3 .col-md-4 {
    padding-right: 0px; /* Reduce or remove padding */
    padding-left: 0px;  /* Adjust these values as needed */
}