---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
        {% if page.show_call_box %}
          {% include call.html show_button=true %}
        {% endif %}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt="{{ page.title }}" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relURL }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-start">
      <div class="col-12 mb-1">
        <div class="content">
          <hr>
        </div>
        <div class="service service-summary">
          <div class="service-content">
            <h2 class="service-title">
              Notice
            </h2>
            <p>We are seeking talented and passionate students. If you are interested in applying to our research lab, please refer to <a href="/hiring">our hiring page</a>.</p>
          </div>
        </div>
      </div>

      <div class="col-12 mb-1">
        <div class="content">
          <hr>
        </div>
        <div class="service service-summary">
          <div class="service-content">
            <h2 class="service-title">
              News
            </h2>
            {% if site.data.news %}
            <div class="content">
            <ul>
            {% assign limit = site.home.limit_news | default: 5 %}
            {% for _news in site.data.news limit: limit %}
              <li>{{ _news.title }} ({{ _news.date }})</li>
            {% endfor %}
            </ul>
            </div>
            {% endif %}
          </div>
        </div>
        <div class="content">
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
{% if site.data.research_interest %}
<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="service service-summary">
          <div class="service-content">
            <h2 class="service-title">
              Research Interest
            </h2>
          </div>
        </div>
    <div class="row justify-content-center">
      {% for _interest in site.data.research_interest %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {% if _interest.image %}
          <div class="feature-image"><img alt="{{ _interest.title }} logo" src="{{ _interest.image.url | relative_url }}" width="{{ _interest.image.width }}" height="{{ _interest.image.height }}" /></div>
          {% endif %}
          <h2 class="feature-title">{{ _interest.title }}</h2>
          <!-- <div class="feature-content">{{ feature.description }}</div> -->
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}
