---
layout: default
bodyClass: "page-teams"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="service service-single">
                <h1 class="title">{{page.title}}</h1>
                <div class="content">{{content}}</div>
            </div>
        </div>
    </div>
</div>

<div class="container pt-6 pb-6">
    <div class="row">
        <div class="col-12 mb-2">
            <h2> Professor </h2>
            {% for professor in site.data.professor %}
            <div class="team-image col-8 col-md-4 col-sm-6 col-lg-3">
                <img width="100%" height="auto" class="img-fluid mb-2" src="{{ professor.image | relative_url }}" />
            </div>
            <div class="team-meta col-12 col-md-6">
                <h2 class="team-name">{{ professor.name }}</h2>
                <p class="team-description"><b>{{ professor.role }}</b>
                    {% for department in professor.affiliation %}
                <br> {{ department }}
                {% endfor %}
                <br> Email: {{ professor.email }}
                <br>
                {% if professor.google_scholar %}
                <a href="{{ professor.google_scholar }}">[<u>Google Scholar</u>]</a>
                {% endif %}
                {% if professor.personal_website %}
                <a href="{{ professor.personal_website }}">[<u>Personal Website</u>]</a>
                {% endif %}
                {% if professor.cv %}
                <a href="{{ professor.cv }}">[<u>CV</u>]</a>
                {% endif %}
                </p>
                <p class="team-description">{{ professor.bio }}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
<!--     <div class="row">
        <div class="col-12 mb-2">
            {% assign members = site.data.members | where: "status", "Ph.D. Student" %}
            {% if members %}
            <h2> Ph.D. Student </h2>
            {% for member in members %}
                {% if member.image %}
                <div class="team-image col-8 col-md-4 col-sm-6 col-lg-3">
                    <img width="100%" height="auto" class="img-fluid mb-2" src="{{ member.image | relative_url }}" />
                </div>
                {% endif %}
                <div class="team-meta col-12 col-md-6">
                    <h2 class="team-name">{{ member.name }}</h2>
                    <p class="team-description"><b>{{ member.status }}</b>
                    <br> Research interests: {{ member.research_interest }}
                    <br> Email: {{ member.email }}
                    {% if member.personal_website %}
                    <br>
                    <a href="{{ member.personal_website }}">[<u>Personal Website</u>]</a>
                    {% endif %}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div> -->
    <div class="row">
        <div class="col-12 mb-2">
            {% endif %}
            {% assign members = site.data.members | where: "status", "M.S. Student" %}
            {% if members %}
            <h2> M.S. Student </h2>
            {% for member in members %}
                {% if member.image %}
                <div class="team-image col-8 col-md-4 col-sm-6 col-lg-3">
                    <img width="100%" height="auto" class="img-fluid mb-2" src="{{ member.image | relative_url }}" />
                </div>
                {% endif %}
                <div class="team-meta col-12 col-md-6">
                    <h2 class="team-name">{{ member.name }}</h2>
                    <p class="team-description"><b>{{ member.status }}</b>
                    <br> Research interests: {{ member.research_interest }}
                    <br> Email: {{ member.email }}
                    {% if member.personal_website %}
                    <br>
                    <a href="{{ member.personal_website }}">[<u>Personal Website</u>]</a>
                    {% endif %}
                    </p>
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-2">
            {% endif %}
            {% assign members = site.data.members | where: "status", "Undergraduate Student" %}
            {% if members %}
            <h2> Undergraduate Student </h2>
            {% for member in members %}
                {% if member.image %}
                <div class="team-image col-8 col-md-4 col-sm-6 col-lg-3">
                    <img width="100%" height="auto" class="img-fluid mb-2" src="{{ member.image | relative_url }}" />
                </div>
                {% endif %}
                <div class="team-meta col-12 col-md-6">
                    <h2 class="team-name">{{ member.name }}</h2>
                    <p class="team-description"><b>{{ member.status }}</b>
                    <br> Research interests: {{ member.research_interest }}
                    <br> Email: {{ member.email }}
                    {% if member.personal_website %}
                    <br>
                    <a href="{{ member.personal_website }}">[<u>Personal Website</u>]</a>
                    {% endif %}
                    </p>
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
